body {
    background-image: url("C:\Users\Sanasys\Desktop\sudah pic.jpeg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 198px;
    color: white;
    font-family: Arial, sans-serif;
      
     direction: rtl;
     text-align: right;
}


h1.page-title {
    font-family: "DiwaniLetterCustom", "Diwani Letter", "Amiri", "Tahoma", sans-serif;
    font-size:45px;
    margin: 20px 0 10px 0;
    font-weight: 700;
    color: rgb(168, 41, 41);
    text-align: center;        
    direction: rtl;
}


p.lead-text {
    font-family: Arial, Helvetica, sans-serif;

    font-size: 25px;
    margin: 0 15px 20px 15px;
    color: black;
    text-align: justify;
}