
body {
    margin: 0;
    height: 100vh;
    background-image: url("./final wallpaper.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  h1 {
    font-family: "Playfair Display", "Libre Baskerville", serif;
    font-size: clamp(48px, 8vw, 90px);
    text-align: center;
    color: #a32020;
    margin-bottom: 60px;
  }
  
  
  .back-ar {
    position: fixed;
    top: 20px;
    right: 20px;
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 8px 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    z-index: 99999;
  }
  
  
  .container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 200px;
    gap: 16px;
    transition: 0.3s;
    position: relative;
    
  }
    
    .container li{
      position: relative;
      overflow: hidden;
      flex: 0 0 260px;
      height: 200px;
      cursor: pointer;
      border-radius: 10px;
      border: 1.2px solid #eeeeee;
      box-shadow: 5px 10px 15px rgba(0,0,0,0.4), -2px -5px 10px rgba(0,0,0,0.1);
    }
    
    .container li img{
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s;
    }
   
    
    .container li:hover{
      flex: 0 1 400px;
      scale: 1.1;
      z-index: 10;
    }
  
    .back-home-wrapper {
      text-align: center;
      margin: 60px 0 40px 0;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
    align-items: top;
    justify-content: center;
  }
  
  nav a:hover {
   
    background-color: #d08e8e;
    border-radius: 5px;
  }
  .nav-box {
    background-color: white;
    color: black;
    padding: 10px 14px;
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid #ccc;
   
  }
  .bottom-nav {
    position: fixed ;
    bottom: 0 ;
    right: 0 ;
    left: auto ;
    top: auto ;
    z-index: 99999 ;
    width: auto;
    margin: 0;
  }
  
  @media (max-width: 600px) {
    body {
      padding: 25px;
      border-width: 30px;
    }}