
.title{
        position: absolute;
        bottom: 22px;
        right: 26px;
    
        font-family: "Amiri", "Tahoma";
        font-size: 32px;   
        font-weight: bold;
    
        color: #2f0000;
        direction: rtl;
        text-align: right;
    
        text-shadow:
            0 1px 0 rgba(255,255,255,0.6),
            0 2px 4px rgba(0,0,0,0.35);
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 200px;
    gap: 16px;
    transition: 0.3s;
    position: relative;
    
  }
  
  .container li{
    position: relative;
    overflow: hidden;
    flex: 0 0 260px;
    height: 200px;
    cursor: pointer;
    border-radius: 10px;
    border: 1.2px solid #eeeeee;
    box-shadow: 5px 10px 15px rgba(0,0,0,0.4), -2px -5px 10px rgba(0,0,0,0.1);
  }
  
  .container li img{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .container li img {
    transition: 0.3s;
  }
  
  .container li .content {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 0;
    translate: -50%;
    width: 100%;
    padding: 15px;
    text-align: center;
    background:
        linear-gradient(
            0deg, rgb(0 0 0 /70%) 10%,
            rgb(255 255 255 /0%) 100%
        );
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
  }
  
  .container span {
    text-align: center;
    width: 75%;
  }
  
  .container h2 {
    
        font-family: "diwanlettercustom", "diwani letter", "amiri", "tahoma";
        font-weight: 400;
        font-size: 34px;
        margin-bottom: 3px;
        white-space: nowrap;
        color: black;
        direction: rtl;
        text-align: right;
        unicode-bidi: isolate;
    
    
      
  }
  
  .container li:hover{
    flex: 0 1 400px;
    scale: 1.1;
    z-index: 10;
  }
  
  .container li:hover .content{
    opacity: 1;
    visibility: visible;
  }
  .sudah{
    font-weight: bold;
    font-size: larger;
    position:relative;
    justify-content: center;
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
  }
  body1 {
    background-image: url("./WhatsApp\ Image\ 2025-12-16\ at\ 16.51.24.jpeg");
    background-position: center;
    background-repeat: no-repeat;
  
    margin: 0;
    padding: 80px;
    font-family: Arial, sans-serif;
    color: white;
  }
  
  .contents {
    font-family: "diwanlettercustom","diwani letter" ,"amiri" ,"tahoma";
    background: rgba(0,0,0,0.6);
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
  }
  
  .buttons {
    margin-bottom: 15px;
  }
  
  button {
    padding: 8px 15px;
    margin-left: 5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
  }
  
 

  
  .page-title {
    font-family: "diwanlettercustom", "diwani letter", "Amiri", serif;
    font-size: 10vh;
    text-align: center;
    color: #a32020;
    margin-bottom: 50px;
   
  }
  
  .p {
    font-size: 20px;
    line-height: 2.2;
    color: #2b2b2b;
    margin: 0 auto 30px;
    max-width: 900px;
    font-family: "diwanlettercustom", "diwani letter", "Amiri", "serif";
  }
  
  @media (max-width:600px){
      .content{
          flex-direction: column;
      }
   }
  .back-home-wrapper {
    text-align: center;
    margin: 60px 0 40px 0;
}

.back-home {
    display: inline-flex;
    align-items: center;
    justify-content: left;
    gap: 10px;

    color: #2b2b2b;
    text-decoration: none;

    font-family: "Amiri", serif;
    font-size: 17px;
    font-weight: 700;

    padding: 10px 25px;
    border: 2px solid #a32020;
    border-radius: 25px;

    background-color: rgba(255, 248, 240, 0.9);

    transition: all 0.3s ease;
}

.back-home .arrow {
    font-size: 20px;
}

.back-home:hover {
    background-color: #2049a3;
    color: green;
    transform: scale(1.05);
}
nav {
  background-color: transparent;
  padding: 15px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
  align-items: top;
  justify-content: center;
}

nav li {
  
  position: sticky;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 12px;
  transition: color 0.3s ease, background-color 0.3s ease;
  position: relative;
}


nav a:hover {
 
  background-color: #d08e8e;
  border-radius: 5px;
}


.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f8f8f8;
  
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 5px;
}


.dropdown-menu li a {
  display: block;
  padding: 8px 15px;
  color: black;
  white-space: nowrap;
}


.dropdown:hover .dropdown-menu {
  display: block;
}


.dropdown-menu li a:hover {
  background-color: #333;
  color: white;
}
.bottom-nav{
  position: fixed;
  bottom: 5;
  right: 0;
  background-color: #a32020;
  padding: 10px 20px;
}
.bottom-nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}


@media (max-width: 600px) {
  body {
    padding: 25px;
    border-width: 30px;
  }

  .page-header h1 {
    font-size: 48px;
  }

  .intro,
  p,
  ul {
    font-size: 17px;
  }
}