body {
  margin: 0;
  min-height: 100vh;
  background-color: #fdf1e6;
  font-family: "Libre Baskerville", serif;
  direction: ltr;
  text-align: left;
  padding: 60px;
  border: 70px solid transparent;
  border-image-source: url("sudah.jpeg");
  border-image-slice: 90;
  border-image-repeat: round;
}

.page-header {
  text-align: center;
  margin-bottom: 80px;
}

.page-header h1 {
  font-family:  "Playfair Display", "Libre Baskerville", serif;
  font-size: clamp(60px, 8vw, 90px);
  color: #a32020;
  margin-bottom: 35px;
}
 .right {
  width: 700px;
  float: right;
  margin: 0 20px 20px 0;
}

.intro {
  font-size: 25px;
  max-width: 800px;
  margin: 0 auto;
  line-height: 2;
  color: #3a3a3a;
}

.content-section {
  max-width: 900px;
  margin: auto;
}

.content-section h2 {
  color: #7a1f1f;
  font-size: 40px;
  margin-bottom: 25px;
}

.content-section h3 {
  color: #a32020;
  margin-top: 35px;
  font-size: 40px;
}

p {
  font-size: 30px;
  line-height: 2.1;
  color: #2b2b2b;
}

ul {
  padding-right: 25px;
  line-height: 2;
  font-size: 25px;
}

.symbols li {
  margin-bottom: 12px;
}

.back-home {
  position: fixed;
  top: 20px;
  left: 20px;
  text-decoration: none;
  color: #6a1b1b;
  font-size: 16px;
  background-color: white;
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  z-index: 1000;
}

.back-home:hover,
.lang-switch:hover {
  background-color: #d08e8e;
}
@media (max-width: 600px) {
  body {
    padding: 25px;
    border-width: 30px;
  }

  .page-header h1 {
    font-size: 48px;
  }

  .intro,
  p,
  ul {
    font-size: 17px;
  }
}