body {
  margin: 0;
  min-height: 100vh;
  background-color: #fdf1e6;
  font-family: "Libre Baskerville", serif;
  direction: ltr;
  text-align: left;
  padding: 90px;
  border: 90px solid transparent;
  border-image-source: url("sudah.jpeg");
  border-image-slice: 90;
  border-image-repeat: round;
}

h1 {
  font-family: "Playfair Display", "Libre Baskerville", serif;
  font-size: 64px;
  text-align: center;
  color: #a32020;
  margin-bottom: 60px;
}

p {
  font-size: 18px;
  line-height: 2.1;
  color: #2b2b2b;
  margin: 0 auto 35px;
  max-width: 850px;
}
.back-home {
  position: fixed;
  top: 20px;
  left: 20px;
  text-decoration: none;
  color: #6a1b1b;
  font-size: 16px;
  background-color: white;
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  z-index: 1000;
}

.back-home:hover,
.lang-switch:hover {
  background-color: #d08e8e;
}
@media (max-width: 600px) {
  body {
    padding: 30px;
    border-width: 40px;
  }

  h1 {
    font-size: 35px;
  }

  p {
    font-size: 16px;
    line-height: 2;
  }
}
