
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 200px;
    gap: 16px;
    transition: 0.3s;
}

.container li{
    position: relative;
    overflow: hidden;
    flex: 0 0 80px;
    cursor: pointer;
    border-radius: 10px;
    border: 1.2px solid #eee;
    box-shadow: 5px 10px 15px rgba(0,0,0,0.4), -2px -5px 10px rgba(0,0,0,0.1);
}

.container li img{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container li,
.container li img {
    transition: 0.3s;
}

.container li .content {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 0;
    translate: -50%;
    width: 100%;
    padding: 15px;
    text-align: center;
    color: #fff;
    background:
        linear-gradient(
            0deg, rgb(0 0 0 /70%) 10%,
            rgb(255 255 255 /0%) 100%
        );
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

.container span {
    text-align: center;
    width: 75%;
}

.container h2 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 3px;
    white-space: nowrap;
    color: #eee;
}

.container li:hover{
    flex: 0 1 260px;
    scale: 1.1;
    z-index: 10;
}

.container li:hover .content{
    opacity: 1;
    visibility: visible;
}
